.input-box {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  box-sizing: border-box;
}

.ant-input.input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
}
