.internet-connection-error {
  position: absolute;
  text-align: left;
  top: 0.8em;
  z-index: 100;
  width: 500px;
  margin-bottom: 0.5em;
}

.ant-alert.ant-alert-error {
  position: flex;
  text-align: left;
  top: 0.8em;
  z-index: 100;
  width: 500px;
  left: calc(50% - 250px);
  margin-bottom: 20px;
}
