.main {
  background-color: white;
  box-sizing: border-box;
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ant-tabs-content {
  flex-direction: column;
}

.ant-tabs {
  width: 100%;
}
