.main .ant-input {
  width: 99%;
  box-sizing: border-box;
}

.pagination-rated {
  width: 100%;
  display: flex;
  justify-content: center;
}

.spinner-rated {
  width: 100%;
  display: flex;
  justify-content: center;
}
