@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  box-sizing: border-box;
  background-color: #f7f7f7;
}

html body {
  height: 100vh;
}

@media (max-width: 600px) {
  /* Уменьшенный объем текста, 1 колонка */
}

@media (min-width: 551px) {
  /* Обычное объем текста, 1 колонка */
}

@media (min-width: 768px) {
  /* Уменьшенный объем текста, 2 колонки */
}

@media (min-width: 1100px) {
  /* Обычное объем текста, 2 колонки */
}

@media (min-width: 1400px) {
  html {
    padding-left: 10%;
    padding-right: 10%;
  }
}
